/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FCFAF8;
}